.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.local
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.toml
.sql
/target
/rpkg
/utils/pokerutil/target/
target
rpkg
/tmp/*
/tmp
/pb_data
/pb_data/*
utils/pokerutil/target/
.npmrc
tmp/*
tmp
/v2/pb_data
/v2/pb_data/*
/pb
/tmp
/static/*
/utils/pokerutil/pkg
/pb_migrations
air.sh
.air.toml
